/* Body: Sodda fon */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    /* Markazlash */
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* Forma Konteyneri */
.form-container {
    background: #ffffff;
    padding: 20px;
    border: 3px solid #000;
    /* Qora chiziq */
    width: 300px;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.5);
}

/* Kiritish Maydonchalari */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000;
    box-sizing: border-box;
    font-size: 14px;
}

/* Saqlash Tugmasi */
button {
    width: 100px;
    padding: 8px;
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    /* O'ng tomonga surish */
}

/* Alert Styles */
#alert-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 300px;
}

.alert {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-20px);
    animation: slideDown 0.5s forwards, fadeOut 0.5s 2.5s forwards;
}

.alert.success {
    background-color: #4CAF50;
    /* Green */
}

.alert.error {
    background-color: #f44336;
    /* Red */
}

@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}